%h3.header-h3 Conference Features & Benefits
.line-blue
.row-fluid
  .box
    %a{:href => "#"}
      = image_tag "keynotes.jpg", :class => "sp-img"
    .mod-box
      = link_to "Keynotes", "#"
    .mod-line-blue
    .text
      %i.fa.fa-key
      Keynotes from thought leaders
  .box
    %a{:href => "#"}
      = image_tag "strategies.jpg", :class => "sp-img"
    .mod-box
      = link_to "Strategies", "#"
    .mod-line-blue
    .text
      %i.fa.fa-gears
      Strategies that really work
  .box
    %a{:href => "#"}
      = image_tag "workshop.jpg", :class => "sp-img"
    .mod-box
      = link_to "Workshops", "#"
    .mod-line-blue
    .text
      %i.fa.fa-lightbulb-o
      9 Interactive workshops
  .box.final
    %a{:href => "#"}
      = image_tag "network.jpg", :class => "sp-img"
    .mod-box
      = link_to "Network", "#"
    .mod-line-blue
    .text
      %i.fa.fa-group
      15 Full days for networking
      