.sp-inbottom1
  %h3.header-h3 Latest News
  .line-blue
  #inbottomCarousel.carousel.slide{"data-ride" => "carousel"}
    %a.fa.fa-angle-left{"data-slide" => "prev", :href => "#inbottomCarousel", :role => "button"}
    %a.fa.fa-angle-right{"data-slide" => "next", :href => "#inbottomCarousel", :role => "button"}
    .carousel-inner
      .item.active
        .row
          .col-md-3
            %h4 
              =link_to "event sponsors", "#"
            .calendar
              %i.fa.fa-calendar 
              02 March 2014
            = link_to image_tag("bottom1.jpg")
            %p.introtext Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi...
            .more
              = link_to "More", "#"
          .col-md-3
            %h4 
              =link_to "Travel Info and Hotels", "#"
            .calendar
              %i.fa.fa-calendar 
              03 March 2014
            = link_to image_tag("bottom2.jpg")
            %p.introtext Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi...
            .more
              = link_to "More", "#"
          .col-md-3
            %h4 
              = link_to "Watch Us Online", "#"
            .calendar
              %i.fa.fa-calendar 
              05 March 2014
            = link_to image_tag("bottom3.jpg")
            %p.introtext Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi...
            .more
              = link_to "More", "#"
          .col-md-3
            %h4 
              = link_to "Did You Register Already?", "#"
            .calendar
              %i.fa.fa-calendar 
              06 March 2014
            = link_to image_tag("bottom4.jpg")
            %p.introtext Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi...
            .more
              = link_to "More", "#"
      .item
        .row
          .col-md-3
            %h4 
              = link_to "Main Events and Program Info", "#"
            .calendar
              %i.fa.fa-calendar 
              10 March 2014
            = link_to image_tag("bottom5.jpg")
            %p.introtext Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi...
            .more
              = link_to "More", "#"
          .col-md-3
            %h4 
              = link_to "Where Can You Buy Tickets", "#"
            .calendar
              %i.fa.fa-calendar 
              11 March 2014
            = link_to image_tag("bottom6.jpg")
            %p.introtext Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi...
            .more
              = link_to "More", "#"
          .col-md-3
            %h4 
              = link_to "Sites And Relax", "#"
            .calendar
              %i.fa.fa-calendar 
              11 March 2014
            = link_to image_tag("bottom7.jpg")
            %p.introtext Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi...
            .more
              = link_to "More", "#"
          .col-md-3
            %h4 
              = link_to "Make Friends", "#"
            .calendar
              %i.fa.fa-calendar 
              14 March 2014
            = link_to image_tag("bottom8.jpg")
            %p.introtext Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi...
            .more
              = link_to "More", "#"