.body-innerwarapper
  %section.toolbar
    .container
      = render 'shared/toolbar'
  %section.header
    .container
      .row-fluid-header
        = render 'shared/header'
  = render 'shared/slide'
  %section.sp-under-carousel
    .container 
      .mod-user-wrapper
        %h3 Eventus - 3rd Annual Boston Conference 2014 - USA, 02 - 15 January 2014.
        %span Eventus is the largest Marketing, Management & Online Marketing Conference.
        %a.btn.btn-default.btn-large{ :href => "#"} Buy Tickets Now
  %section.conference
    .container  
      = render 'shared/conference'
  %section.keynote
    .container
      = render 'shared/keynote'       
  %section.video-teaser
    .container
      = render 'shared/video_teaser'
  %section.sp-inbottom
    .container
      = render 'shared/latest_news'
        
  %section.sp-bottom
    .container
      %h3.header-h3 Top Event Sponsors
      .line-white
      = render 'shared/bottom'
  %section.sp-bottom-2-wrapper
    .container
      = render 'shared/bottom2'
  =render 'shared/footer'
%script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"}
%script{:src => "js/bootstrap.min.js"}
