.body-innerwarapper
  %section.Toolbar-wrapper
    .container
      = render 'shared/toolbar'
  %section.Header-wrapper
    .container
      .row-fluid-header
        = render 'shared/header'
  = render 'shared/slide'
  %section.sp-UnderCarousel
    .container 
      .mod-user-wrapper
        %h3 Eventus - 3rd Annual Boston Conference 2014 - USA, 02 - 15 January 2014.
        %span Eventus is the largest Marketing, Management & Online Marketing Conference.
        %a.btn.btn-default.btn-large{ :href => "#"} Buy Tickets Now
  %section.Conference-wrapper
    .container  
      = render 'shared/conference'
  %section.Keynote
    .container
      = render 'shared/keynote'       
  %section.VideoTeaser
    .container
      = render 'shared/video_teaser'
  %section.sp-inbottom-wrapper
    .container
      = render 'shared/latest_news'
        
  %section.sp-bottom-wrapper
    .container
      %h3.header-h3 Top Event Sponsors
      .line-white
      = render 'shared/bottom'
  %section.sp-bottom-2-wrapper
    .container
      = render 'shared/bottom2'
  =render 'shared/footer'
%script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"}
%script{:src => "js/bootstrap.min.js"}
